[user]
	name = Ruan Silva
	email = progmruansilva@gmail.com
[core]
    editor = "NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim"
    pager = diff-highlight | diff-so-fancy | less --tabs=4 -RSFX
[diff]
    tool = lazygit
[difftool]
    prompt = false
[alias]
    d = difftool
    ctags = !.git/hooks/ctags
[color]
    branch = auto
    diff = auto
    status = auto
    ui = always
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red
	new = green
	whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[merge]
    tool = splice
[mergetool "splice"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = true
[push]
    default = simple
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pull]
	rebase = true
