[user]
	name = Ruan Silva
	email = progmruansilva@gmail.com
[core]
    editor = nvim
[diff]
    tool = nvimdiff
    guitool = nvimdiff
[difftool]
    prompt = false
[alias]
    d = difftool
    ctags = !.git/hooks/ctags
[color]
    branch = auto
    diff = auto
    status = auto
    ui = always
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red
	new = green
	whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[merge]
    tool = nvimdiff
    conflictstyle = diff3
[mergetool]
  keepBackup = false
  trustExitCode = true
  prompt = true
[push]
    default = simple
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pull]
	rebase = false
