:root {
  --clip-path-squircle-24: polygon(
    0px 48px,
    0.11704457390456469px 30.40677371020925px,
    0.46904682814462717px 24.117691249034618px,
    1.0586949211448484px 19.518245904558785px,
    1.8907586936499854px 15.818765202040858px,
    2.9725789221027057px 12.726372185385628px,
    4.314880922201077px 10.097158953944842px,
    5.933095834825792px 7.849540110390819px,
    7.849540110390819px 5.933095834825792px,
    10.097158953944842px 4.314880922201077px,
    12.726372185385621px 2.972578922102713px,
    15.81876520204085px 1.8907586936499854px,
    19.518245904558782px 1.0586949211448484px,
    24.11769124903462px 0.46904682814462717px,
    30.40677371020925px 0.11704457390456469px,
    47.99999701148836px 0px,
    calc(100% - 48px) 0px,
    calc(100% - 30.40677px) 0.11704457390456469px,
    calc(100% - 24.11769px) 0.46904682814462717px,
    calc(100% - 19.51825px) 1.0586949211448484px,
    calc(100% - 15.81877px) 1.8907586936499854px,
    calc(100% - 12.72637px) 2.972578922102713px,
    calc(100% - 10.09716px) 4.314880922201077px,
    calc(100% - 7.84954px) 5.933095834825792px,
    calc(100% - 5.9331px) 7.849540110390819px,
    calc(100% - 4.31488px) 10.097158953944842px,
    calc(100% - 2.97258px) 12.726372185385628px,
    calc(100% - 1.89076px) 15.818765202040858px,
    calc(100% - 1.05869px) 19.518245904558785px,
    calc(100% - 0.46905px) 24.117691249034618px,
    calc(100% - 0.11704px) 30.40677371020925px,
    100% 48px,
    100% calc(100% - 48px),
    calc(100% - 0.11704px) calc(100% - 30.40677px),
    calc(100% - 0.46905px) calc(100% - 24.11769px),
    calc(100% - 1.05869px) calc(100% - 19.51825px),
    calc(100% - 1.89076px) calc(100% - 15.81877px),
    calc(100% - 2.97258px) calc(100% - 12.72637px),
    calc(100% - 4.31488px) calc(100% - 10.09716px),
    calc(100% - 5.9331px) calc(100% - 7.84954px),
    calc(100% - 7.84954px) calc(100% - 5.9331px),
    calc(100% - 10.09716px) calc(100% - 4.31488px),
    calc(100% - 12.72637px) calc(100% - 2.97258px),
    calc(100% - 15.81877px) calc(100% - 1.89076px),
    calc(100% - 19.51825px) calc(100% - 1.05869px),
    calc(100% - 24.11769px) calc(100% - 0.46905px),
    calc(100% - 30.40677px) calc(100% - 0.11704px),
    calc(100% - 48px) 100%,
    47.99999701148836px 100%,
    30.40677371020925px calc(100% - 0.11704px),
    24.11769124903462px calc(100% - 0.46905px),
    19.518245904558782px calc(100% - 1.05869px),
    15.81876520204085px calc(100% - 1.89076px),
    12.726372185385621px calc(100% - 2.97258px),
    10.097158953944842px calc(100% - 4.31488px),
    7.849540110390819px calc(100% - 5.9331px),
    5.933095834825792px calc(100% - 7.84954px),
    4.314880922201077px calc(100% - 10.09716px),
    2.9725789221027057px calc(100% - 12.72637px),
    1.8907586936499854px calc(100% - 15.81877px),
    1.0586949211448484px calc(100% - 19.51825px),
    0.46904682814462717px calc(100% - 24.11769px),
    0.11704457390456469px calc(100% - 30.40677px),
    0px calc(100% - 48px),
    0px 48px,
    0px 48px,
    0px 48px,
    0px 48px,
    0px 48px,
    0px 48px,
    0px 48px,
    0px 48px,
    0px 48px,
    0px 48px,
    0px 48px,
    0px 48px,
    0px 48px,
    0px 48px,
    0px 48px,
    0px 48px
  );
}

.titlebar-buttonbox {
  margin-right: 10px !important;
  margin-left: 5px !important;
}

.titlebar-button {
  align-self: center;
  border-radius: 50px;
  transition: all 100ms;
  width: 13px !important;
  height: 13px !important;
  padding: 0px !important;
  margin-left: 5px !important;
}

.titlebar-min {
  background-color: hsl(48, 89%, 45%) !important;
}

.titlebar-max,
.titlebar-restore {
  background-color: hsl(96, 47%, 50%) !important;
}

.titlebar-close {
  background-color: hsl(0, 78%, 60%) !important;
}

.titlebar-button > image {
  width: 10px !important;
  filter: invert(1) !important;
  -webkit-filter: invert(1) !important;
  opacity: 0 !important;
  transition: opacity 100ms !important;
}

.titlebar-button:hover > image {
  opacity: 1 !important;
}

#tabbrowser-tabbox:not([sizemode="fullscreen"]) {
  clip-path: var(--clip-path-squircle-24) !important;
}

#nav-bar-customization-target {
  padding: 7px 2px !important;
}

#tabbrowser-tabs[orient="vertical"] {
  & .tabbrowser-tab {
    &:nth-child(1 of :not([hidden], [pinned])) {
      margin-top: -7px !important;
    }
  }
}

#tabbrowser-tabpanels {
  border-top-left-radius: 8px !important;
  overflow: hidden;
}
